<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shestays.she_stays_proj.mapper.HouseMapper">
    <resultMap id="houseMap" type="com.shestays.she_stays_proj.vo.HouseVo">
        <result column="house_id" property="houseId"/>
        <result column="house_title" property="houseTitle"/>
        <result column="home_page_img_url" property="homePageImgUrl"/>
        <result column="house_amount" property="houseAmount"/>
        <result column="describle" property="describle"/>
        <result column="status_code" property="statusCode"/>
        <result column="statusValue" property="statusValue"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="country_id" property="countryId"/>
        <result column="country_name" property="countryName"/>
        <result column="city_id" property="cityId"/>
        <result column="city_name" property="cityName"/>
        <result column="region_id" property="regionId"/>
        <result column="region_name" property="regionName"/>
        <result column="detail_address" property="detailAddress"/>
        <result column="unpass_reason" property="unpassReason"/>
        <result column="user_id" property="userId"/>
        <result column="continent_id" property="continentId"/>
        <result column="continent_name" property ="continentName"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_delete" property="isDelete"/>
        <association property = "houseImgs" column="house_id" select="getHouseImgs" autoMapping="true">

        </association>
    </resultMap>
    <resultMap id="getHouseImgsMap" type = "com.shestays.she_stays_proj.vo.HouseImgVo">
        <result column="house_img_id" property="houseImgId"/>
        <result column="img_url" property="imgUrl"/>
    </resultMap>

    <select id = "getHouseImgs" resultMap="getHouseImgsMap" parameterType="java.lang.Integer">
        select * from ss_house_img where house_id = #{house_id}
    </select>

    <!-- 查询房源 -->
    <select id="getHouse" resultMap="houseMap" parameterType="java.lang.Integer">
        SELECT house.*,ss.status_value as statusValue FROM SheStays.ss_house house
        left join ss_status ss on ss.status_code = house.status_code
        where is_delete = 0  and ss.status_code = 'online' order by house.create_time desc
        limit #{pageIndex},50
    </select>

    <select id="getCount">
        SELECT count(*) FROM SheStays.ss_house where is_delete = 0 and status_code = 'online' 
    </select>

    <select id="getHouseByRegion" resultMap="houseMap" parameterType="java.lang.String">
        select * from (
            SELECT house.*,ss.status_value as statusValue FROM SheStays.ss_house house
            left join ss_status ss on ss.status_code = house.status_code
        where is_delete = 0  and ss.status_code = 'online' ) temp where 1=1
        <if test="region != null and region!=''">
        and house.country_name like CONCAT('%',#{region},'%') OR  house.city_name  like CONCAT('%',#{region},'%')
        </if>
    </select>
    <!-- 根据房源id查询房源详情 -->
    <select id = "getHouseById" resultMap="houseMap" parameterType = "java.lang.Integer">
        SELECT house.*,ss.status_value as statusValue FROM SheStays.ss_house house
        left join ss_status ss on ss.status_code = house.status_code
        where is_delete = 0  and ss.status_code = 'online' and house.house_id = #{houseId}
    </select>

    <!-- 查询待审核房源 -->
    <select id="getUnderViewHouse" resultMap="houseMap" parameterType="java.lang.String">
        SELECT house.*,ss.status_value as statusValue FROM SheStays.ss_house house
        left join ss_status ss on ss.status_code = house.status_code
        where is_delete = 0  and ss.status_code = #{statusCode} 
    </select>
    <!-- 房源审核通过 -->
    <update id= "housePassed">
        update ss_house set status_code = #{statusCode},is_visible = 1 where house_id = #{houseId}
    </update>

    <!-- 房源审核不通过 -->
    <update id="houseNoPassed">
        update ss_house set status_code = #{statusCode},is_visible = 0,
        unpass_reason = #{unpassReason}
        where house_id = #{houseId}
    </update>

    <!-- 删除房源 -->
    <update id="houseDel">
        update ss_house set is_delete = 1,is_visible = 0 where house_id = #{houseId}
    </update>
    <!-- 根据用户id查询房源信息 -->
    <select id= "getHouseByUserId" resultMap="houseMap" parameterType = "java.lang.Integer">
        SELECT house.*,ss.status_value as statusValue FROM SheStays.ss_house house
        left join ss_status ss on ss.status_code = house.status_code
        where is_delete = 0  and ss.status_code = 'online' and house.user_id = #{userId}
    </select>

    <!-- 新增房源 -->
    <insert id="addHouse" parameterType="com.shestays.she_stays_proj.entity.House">
        INSERT INTO `SheStays`.`ss_house`(`user_id`,`house_title`,`describe`,`house_amount`,
        `status_code`,`start_time`,`end_time`,`country_id`,`region_id`,`city_id`,`detail_address`,
        `is_visible`,`create_time`,`update_time`,`is_delete`,`continent_name`,`country_name`,`region_name`,`city_name`,`continent_id`)
        VALUES
        (#{userId},#{houseTitle},#{describle},#{houseAmount},
        #{statusCode},#{startTime},#{endTime},#{countryId},#{regionId},#{cityId},#{detailArea},
        0,now(),now(),0,
        #{continentName},#{countryName},#{regionName},#{cityName},#{continentId})
        
    </insert>

    <select id="getHouseId" parameterType="java.lang.Integer">
        select Max(house_id) from `SheStays`.`ss_house` where user_id = #{userId}
    </select>
</mapper>   