<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shestays.she_stays_proj.mapper.NationMapper">
    <resultMap id="nationMap" type="com.shestays.she_stays_proj.vo.NationVo">
        <result column="country_code" property="countryCode"/>
        <result column="country_name" property="countryName"/>
        <result column="country_name_eng" property="countryNameEng"/>
    </resultMap>
    <!-- 国家信息查询  -->
    <select id="getNation" resultMap="nationMap">
        select * from ss_nation where country_code != '999' order by sort desc 
    </select>

  <!-- 区域信息查询  -->
    <resultMap id="regionMap" type="com.shestays.she_stays_proj.vo.RegionVo">
        <result column="region_code" property="regionCode"/>
        <result column="region_name" property="regionName"/>
        <result column="region_name_eng" property="regionNameEng"/>
        <result column="country_code" property ="countryCode"/>
    </resultMap>
  
    <select id="getRegion" resultMap="regionMap" parameterType="java.lang.String">
        select * from ss_region where country_code = #{countryCode}
    </select>

    <!-- 城市查询 -->
    <resultMap id="cityMap" type="com.shestays.she_stays_proj.vo.CityVo">
        <result column="city_code" property="cityCode"/>
        <result column="city_name" property="cityName"/>
        <result column="city_name_eng" property="cityNameEng"/>
        <result column="region_code" property="regionCode"/>
    </resultMap>

    <select id="getCity" resultMap="cityMap" parameterType="java.lang.String">
        select * from ss_city where region_code = #{regionCode}
    </select>
</mapper>
