<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shestays.she_stays_proj.mapper.UserMapper">
    <resultMap id ="UserInfoMap" type="com.shestays.she_stays_proj.vo.UserVo">
        <result column="user_id" property="userId"/>
        <result column="user_name" property="userName"/>
        <result column="password" property="password"/>
        <result column="user_no" property="userNo"/>
        <result column="email" property="email"/>
        <result column="phone" property="phone"/>
        <result column="avatar_url" property="avatarUrl"/>
        <result column="wechat_id" property="wechatId"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_delete" property="isDelete"/>
        <result column="nation_id" property="nationId"/>
        <result column="nationName" property="nationName"/>
        <result column="city_id" property="cityId"/>
        <result column="cityName" property="cityName"/>
         <result column="region_id" property="regionId"/>
        <result column="regionName" property="regionName"/>
        <result column="bd_year" property="bdYear"/>
        <result column="bd_month" property="bdMonth"/>
        <result column="bd_day" property="bdDay"/>
        <result column="gender_dict_code" property="genderDictCode"/>
        <result column="genderDictVal" property="genderDictVal"/>
        <result column="personal_profile" property="personalProfile"/>
        <result column="xiaohongshu_username" property="xiaohongshuUsername"/>
        <result column="xiaohongshu_id" property="xiaohongshuId"/>
        <result column="country_code" property ="countryCode"/>
        <result column="open_id" property ="openId"/>
        <association property="roles" column="role_id" select="getRoles" autoMapping="true">

        </association>
    </resultMap>

    <resultMap id ="getRoles" type="com.shestays.she_stays_proj.entity.Role">
        <result column="role_id" property="roleId"/>
        <result column="role_dict_code" property="roleDictCode"/>
        <result column="role_desc" property="roleDesc"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="is_delete" property="isDelete"/>
    </resultMap>

    <select id="getUserInfoByWechatId" resultMap="UserInfoMap" parameterType="java.lang.String">
     SELECT user.*,(select dict_nm from ss_dict_data where dict_type='dict_gender' and dict_code=user.gender_dict_code) as genderDictVal,
    nation.nation_name as nationName,region.region_name as regionName,city.city_name as cityName
    FROM SheStays.ss_user user 
    left join ss_nation nation on user.nation_id = nation.nation_id
    left join ss_region region on user.region_id = region.region_id
    left join ss_city city on user.city_id = city.city_id
    where open_id= #{openId}
    </select>

    <select id="getRoles" resultMap="getRoles">
        select * from SheStays.ss_role where role_id = #{role_id}
    </select>

    <update id="editUserData" parameterType="com.shestays.she_stays_proj.entity.User">
        UPDATE `SheStays`.`ss_user`
        <set>
            <if test="userName != null">
                `user_name` = #{userName},
            </if>
            <if test="email != null">
                `email` = #{email},
            </if>
            <if test="phone != null">
                `phone` = #{phone},
            </if>
            <if test="wechatId != null">
                `wechat_id` = #{wechatId},
            </if>
            <if test="nationId != null">
                `nation_id` = #{nationId},
            </if>
             <if test="regionId != null">
                `region_id` = #{regionId},
            </if>
            <if test="cityId != null">
                `city_id` = #{cityId},
            </if>
            <if test="bdYear != null">
                `bd_year` = #{bdYear},
            </if>
            <if test="bdMonth != null">
                `bd_month` = #{bdMonth},
            </if>
            <if test="bdDay != null">
                `bd_day` = #{bdDay},
            </if>
            <if test="genderDictCode != null">
                `gender_dict_code` = #{genderDictCode},
            </if>
            <if test="personalProfile != null">
                `personal_profile` = #{personalProfile},
            </if>
             `update_time` = now()
              WHERE `user_id` = #{userId}
        </set>
        
    </update>
    
    <update id="editUserDataByxhsId" parameterType="com.shestays.she_stays_proj.entity.User">
        UPDATE `SheStays`.`ss_user`
        SET `wechat_id` = #{wechatId},`open_id` = #{openId},`phone` = #{phone},`country_code` = #{countryCode}
         WHERE `user_id` = #{userId}
    </update>
    <!-- 根据小红书id查询用户信息 -->
    <select id="getUserByXhsId" parameterType="java.lang.String" resultMap="UserInfoMap">
        select * from ss_user where xiaohongshu_id = #{xhsId}
    </select>
    <select id= "getUserByopenId" parameterType="java.lang.String" resultMap="UserInfoMap">
        select * from ss_user where open_id = #{openId}
    </select>

    <!-- 新增用户信息 -->
    <insert id="addUserInfo" parameterType="com.shestays.she_stays_proj.entity.User">
        insert into ss_user(user_no,role_id,phone,country_code,open_id,create_time,update_time,is_delete) 
        values(concat('U',user_id),(select role_id from  ss_role where role_dict_code = 'user'),#{phone},#{countryCode},#{openId},now(),now(),'0');
    </insert>
</mapper>